<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>652266832455-uq2bqurkhgo7ackulfcmelvftnm7ufge.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.652266832455-uq2bqurkhgo7ackulfcmelvftnm7ufge</string>
  <key>API_KEY</key>
  <string>AIzaSyB3sqLjkdMO44s0mXatRBrzbPAa6hhW03g</string>
  <key>GCM_SENDER_ID</key>
  <string>652266832455</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>eu.audiolibraria.loopit</string>
  <key>PROJECT_ID</key>
  <string>audiolibraria-f71ef</string>
  <key>STORAGE_BUCKET</key>
  <string>audiolibraria-f71ef.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:652266832455:ios:7197b048d78498ba39e762</string>
</dict>
</plist>
